
*{
	font-family:"Arial","Helvetica",Sans-serif;
	/*margin:0;*/
	/*padding:0;*/
	/*border:0;*/
	/*background-color:Transparent;*/
	font-size:100%;
	/*font-style:Normal;*/
	text-decoration:None;
}
html{
	border:0;
}
body{
	margin:0;
	padding:0;
	background:#FFFFFF;
}
span{
	color:Inherit;
}
div#id_content a{
	text-decoration:None;
}
div#id_content a:link{
	color:#3366A5;
	text-decoration:None;
}
div#id_content a:visited{
	color:#3366A5;
	text-decoration:None;
}
div#id_content a:hover{
	color:#EC6700;
	background-color:#FFFFCC;
	text-decoration:Underline;
}
/*-----------------------------------------------------------------------------------------------*/
div.chapter_title{
	background:#4682B4;
	padding:2px 5px 2px 5px;
	border-bottom:Solid 1px #4682B4;
	font-weight:Bold;
	font-size:80%;
	margin-bottom:16px;
	text-align:Right;
	color:#FFFFFF;
}
/*-----------------------------------------------------------------------------------------------*/
div.h1{
	padding:32px 0 2px 8px;
	border-bottom:Solid 1px #4682B4;
	background:#F3F8FA;
	font-weight:Bold;
	font-size:120%;
	margin-bottom:16px;
	vertical-align:Bottom;
	text-align:Left;
	color:#000080;
}
/*-----------------------------------------------------------------------------------------------*/
div.h2,
div.h2_2line,
div.h2_3line{
	border:Solid 1px #4682B4;
	padding:5px;
	margin:30px 10px 5px 10px;
	font-size:90%;
	font-weight:Bold;
	background:#F3F8FA;
	color:#000080;
}
div.h2 a,
div.h2_2line a,
div.h2_3line a{
	font-weight:Bold;
	text-decoration:None;
	color:#0000FF;
}
div.h2 img,
div.h2_2line img,
div.h2_3line img{
	vertical-align:Middle;
	margin-right:2px;
	margin-left:0px;
}
/*-----------------------------------------------------------------------------------------------*/
div.h3{
	padding:5px;
	margin:25px 10px 5px 10px;
	font-size:90%;
	font-weight:Bold;
	background:#F3F8FA;
	border-bottom:Solid 1px #87CEEB;
	color:#000080;
}
div.h3 a{
	font-weight:Bold;
	text-decoration:None;
	color:#0000FF;
}
div.h3 img{
	vertical-align:Middle;
	margin-right:2px;
	margin-left:0px;
}
/*-----------------------------------------------------------------------------------------------*/
div.h4{
	margin:20px 10px 5px 10px;
	font-weight:Bold;
	font-size:90%;
	border-Bottom:Solid 1px #87CEEB;
	background:#FFFFFF;
	padding:0px 5px;
	color:#000080;
}
div.h4 img{
	vertical-align:Middle;
	margin-right:2px;
	margin-left:0px;
}
/*-----------------------------------------------------------------------------------------------*/
div.h5{
	margin:20px 10px 5px 15px;
	font-weight:Bold;
	font-size:80%;
	color:#000080;
}
div.h5 img{
	vertical-align:Middle;
	margin-right:5px;
	margin-left:4px;
}
/*-----------------------------------------------------------------------------------------------*/
div.h6{
	margin:15px 10px 5px 30px;
	font-weight:Bold;
	font-size:80%;
	color:#000080;
}
div.h6 img{
	vertical-align:Middle;
	margin-right:2px;
	margin-left:0px;
}
table div.h6{
	margin-left:0px;
	margin-top:10px;
}
/*-----------------------------------------------------------------------------------------------*/
div.text{
	font-size:80%;
	margin:5px 10px 5px 30px;
	color:#000000;
}
table div.text{
	margin:3px 0 0 0;
}
div.text img{
	vertical-align:Middle;
}
table div.text img{
	vertical-align:Middle;
}
/*-----------------------------------------------------------------------------------------------*/
div.text_level1{
	font-size:80%;
	margin:5px 10px 5px 40px;
	color:#000000;
}
table div.text_level1{
	margin:3px 0 0 10px;
}
/*-----------------------------------------------------------------------------------------------*/
div.text_level2{
	font-size:80%;
	margin:5px 10px 5px 50px;
	color:#000000;
}
table div.text_level2{
	margin:3px 0 0 20px;
}
/*-----------------------------------------------------------------------------------------------*/
div.text_level3{
	font-size:80%;
	margin:5px 10px 5px 60px;
	color:#000000;
}
table div.text_level3{
	margin:3px 0 0 30px;
}
/*-----------------------------------------------------------------------------------------------*/
div.text_center{
	text-align:Center;
	font-size:80%;
	color:#000000;
}
table div.text_center{
	margin:3px 0 0 0;
}
/*-----------------------------------------------------------------------------------------------*/
div.text_right{
	text-align:Right;
	font-size:80%;
	color:#000000;
	margin-right:10px;
}
table div.text_right{
	margin-right:0px;
}
/*-----------------------------------------------------------------------------------------------*/
div.annotation{
	font-size:75%;
	margin:0px 10px 5px 55px;
	text-indent:-1.5em;
	color:#000000;
}
/*-----------------------------------------------------------------------------------------------*/
div.list{
	background:Transparent Url("style_list.gif") No-Repeat 4px 5px;
	_background:Transparent Url("style_list_ie.gif") Repeat 5px 5px;
	margin-left:30px;
	margin-right:10px;
	margin-top:2px;
	margin-bottom:2px;
	padding-left:20px;
	padding-top:0px;
	font-weight:Normal;
	font-size:80%;
	color:#000000;
}
table div.list{
	margin-left:0px;
}
div.list img{
	vertical-align:Top;
}
table div.list img{
	vertical-align:Top;
}

/*-----------------------------------------------------------------------------------------------*/
div.dash{
	margin-left:50px;
	margin-right:10px;
	margin-top:2px;
	margin-bottom:2px;
	font-weight:Normal;
	font-size:80%;
	background:Transparent Url("style_dash.gif") No-Repeat 4px -1px;
	_background:Transparent Url("style_dash_ie.gif") Repeat 4px -1px;
	padding:0px 0px 0px 20px;
	color:#000000;
}
*:first-child+html div.dash{
	background:Transparent Url("style_dash_ie.gif") Repeat 4px -1px;
}
table div.dash{
	margin-left:12px;
}
div.dash img{
	vertical-align:Top;
}
/*-----------------------------------------------------------------------------------------------*/
div.example{
	font-size:80%;
	font-family:Monospace;
	margin:5px 10px 5px 30px;
	clear:Both;
	background:#707080;
	padding:5px;
	color:#FFFFFF;
}
div#id_content div.example a:link{
	color:#0000FF;
	text-decoration:None;
}
div#id_content div.example a:visited{
	color:#0000FF;
	text-decoration:None;
}
/*-----------------------------------------------------------------------------------------------*/
div.path{
	padding:3px 10px 3px 20px;
	font-size:80%;
	margin:0px 30px;
	background:Transparent Url("style_path.gif") No-Repeat 0px 1px;
	_background:Transparent Url("style_path_ie.gif") Repeat 0px 1px;
	color:#666666;
}
div.path img{
	vertical-align:Middle;
}
table div.path{
	margin-left:0px;
}
/*-----------------------------------------------------------------------------------------------*/
div.step_number{
	background:#F8F8F8 Url("style_step_number.gif") Repeat-x;
	_background:Url("style_step_number_ie.gif") Repeat 5px 7px;
	font:Bold 200% "Arial";
	color:#4682B4;
	padding:0px 5px;
	margin-left:10px;
	margin-right:10px;
	margin-top:20px;
	margin-bottom:0px;
}
div.step_number span{
	font:Bold 100% "Arial";
	color:#4682B4;
}
/*-----------------------------------------------------------------------------------------------*/
div.step_path{
	padding:3px 10px 3px 30px;
	font-size:80%;
	margin:0px 10px;
	background:#F8F8F8 Url("style_path.gif") No-Repeat 8px 1px;
	_background:#F8F8F8 Url("style_path_ie.gif") Repeat 8px 2px;
	color:#666666;
}
/*-----------------------------------------------------------------------------------------------*/
div.step_text{
	font-weight:Bold;
	padding:0px 10px 15px 5px;
	font-size:80%;
	margin:0px 10px 10px 10px;
	background:#F8F8F8 Url("style_step_text.gif") Repeat-x 0px Bottom;
	_background:Url("style_step_text_ie.gif") Repeat 5px Bottom;
	color:#000000;
}
div.step_text img{
	vertical-align:Middle;
}
@media print{div.step_text{
	padding:0px 10px 20px 5px;
}}
/*-----------------------------------------------------------------------------------------------*/
div.step_sub{
	font-size:80%;
	font-weight:Bold;
	margin:10px 10px 5px 15px;
	padding-left:15px;
	background:Transparent Url("style_step_sub.gif") No-Repeat 0px 1px;
	_background:Transparent Url("style_step_sub_ie.gif") Repeat 0px 1px;
	color:#000000;
}
div.step_sub img{
	vertical-align:Top;
}
/*-----------------------------------------------------------------------------------------------*/
div.figure{
	text-align:Left;
	margin-left:30px;
	margin-bottom:10px;
}
table div.figure{
	margin-left:0;
}
/*-----------------------------------------------------------------------------------------------*/
div.link{
	margin:10px;
	font-size:80%;
	color:#3366A5;
}
/*-----------------------------------------------------------------------------------------------*/
div.link a{
	text-decoration:None;
	padding-left:10px;
	background:Transparent Url("style_link.gif") No-Repeat Left Top;
	_background:Transparent Url("style_link_ie.gif") Repeat Left Top;
}
/*-----------------------------------------------------------------------------------------------*/
div.list_link{
	background:Transparent Url("style_link.gif") No-Repeat 5px 0px;
	_background:Transparent Url("style_link_ie.gif") Repeat 5px 0px;
	margin-left:30px;
	margin-right:10px;
	margin-bottom:0px;
	padding-left:20px;
	padding-top:1px;
	font-weight:Normal;
	font-size:80%;
	color:#3366A5;
}
table div.list_link{
	margin-left:0px;
}
/*-----------------------------------------------------------------------------------------------*/
div.link_to_top{
	text-align:Right;
	padding:5px 10px 30px 10px;
	font-size:80%;
	color:#3366A5;
	border-top:Dotted 1px #87CEEB;
	margin-top:30px;
}
@media print{div.link_to_top{
	display:None;
}}
div.link_to_top a{
	text-decoration:None;
	padding-left:12px;
	background:Transparent Url("style_link.gif") No-Repeat Left Top;
	_background:Transparent Url("style_link_ie.gif") Repeat Left Top;
}
/*-----------------------------------------------------------------------------------------------*/
div.trouble_shooting{
	margin:10px 10px 10px 30px;
}
table.trouble_shooting{
	border-collapse:Collapse;
	table-layout:Fixed;
}
td.trouble_shooting{
	border:Solid 1px #FFFFFF;
}
td.trouble_shooting_col_0{
	padding:5px;
	vertical-align:Middle;
	font-size:100%;
	width:80px;
	background:#C0C0C0;
	padding-bottom:10px;
}
td.trouble_shooting_col_1{
	background:#EFEFEF;
	padding-top:5px;
	padding-bottom:10px;
	padding-left:5px;
}
/*-----------------------------------------------------------------------------------------------*/
div.outline{
	margin:10px 10px 10px 30px;
}
table.outline{
	border-collapse:Collapse;
	font-size:100%;
}
td.outline{
	padding:10px 5px 10px 5px;
}
td.outline_col_0{
	vertical-align:Middle;
	text-align:Center;
	border:Solid 1px #87CEEB;
	background:#F5F5F5;
	width:30px;
	font-size:130%;
}
td.outline_col_0 div.h6{
	color:#4682B4;
	margin:0px;
}
td.outline_col_1{
	vertical-align:Middle;
	border:Solid 1px #87CEEB;
	border-left:None;
	background:#F5F5F5;
	width:150px;
}
td.outline_col_1 div.h6{
	margin:0px;
	color:#000000;
}
td.outline_col_2{
	vertical-align:Middle;
	background:#FFFFFF;
	border:Solid 1px #87CEEB;
	padding:3px 3px 3px 10px;
}
td.outline_col_2 div.list{
	background:Transparent Url("style_link.gif") No-Repeat 4px 0px;
	_background:Transparent Url("style_link_ie.gif") Repeat 5px 0px;
}
/*-----------------------------------------------------------------------------------------------*/
div.table_ui{
	margin:5px 10px 10px 30px;
}
table.table_ui{
	table-layout:Auto;
	border-collapse:Collapse;
	border:None;
	border-bottom:Solid 1px #E0E0E0;
}
td.table_ui_col_0{
	padding:0px;
	vertical-align:Top;
	font-size:100%;
	width:150px;
	color:#000000;
	padding:0px 0px 5px 0px;
	border-right:None;
}
td.table_ui_col_1{
	background:#FFFFFF;
	padding:3px;
	padding-left:10px;
	border:Solid 1px #E0E0E0;
	border-left:Solid 1px #E0E0E0;
	border-right:None;
	border-bottom:None;
	vertical-align:Top;
}
td.table_ui_col_0 div.ui_level0{
	background:#FFFFFF;
	font-size:80%;
	padding:6px 3px 1px 3px;
	border-top:Solid 1px #E0E0E0;
	border-right:None;
	border-left:Solid 10px #FFFFFF;
	margin-left:0px;
}
td.table_ui_col_0 div.ui_level1{
	background:#FFFFFF;
	font-size:80%;
	padding:6px 3px 10px 3px;
	border-top:Solid 1px #E0E0E0;
	border-right:None;
	border-left:Solid 10px #87BEDB;
	margin-left:0px;
}
td.table_ui_col_0 div.ui_level2{
	background:#FFFFFF;
	font-size:80%;
	padding:6px 3px 10px 3px;
	margin-left:10px;
	border-top:Solid 1px #E0E0E0;
	border-right:None;
	border-left:Solid 10px #A0D0EA;
}
td.table_ui_col_0 div.ui_level3{
	background:#FFFFFF;
	font-size:80%;
	padding:6px 3px 10px 3px;
	margin-left:20px;
	border-top:Solid 1px #E0E0E0;
	border-right:None;
	border-left:Solid 10px #C6E5F6;
}
td.table_ui_col_0 div.ui_level1 img,
td.table_ui_col_0 div.ui_level2 img,
td.table_ui_col_0 div.ui_level3 img{
	vertical-align:Middle;
}
/*-----------------------------------------------------------------------------------------------*/
table div.table_important,
table div.table_caution,
table div.table_warning,
table div.table_note{
	margin-left:20px;
}
div.table_important,
div.table_caution,
div.table_warning,
div.table_note{
	margin:10px 10px 10px 30px;
}
*:first-child+html table.table_important,
*:first-child+html table.table_caution,
*:first-child+html table.table_warning,
*:first-child+html table.table_note{
	width:Auto;
	table-layout:Fixed;
}
table.table_important,
table.table_caution,
table.table_warning,
table.table_note{
	background:#FFFFFF;
	border-collapse:Collapse;
	font-size:100%;
	width:100%;
	_width:Auto;
	_table-layout:Fixed;
}
*:first-child+html table td.table_important_col_0,
*:first-child+html table td.table_caution_col_0,
*:first-child+html table td.table_warning_col_0,
*:first-child+html table td.table_note_col_0{
	width:Auto;
}
table td.table_important_col_0,
table td.table_caution_col_0,
table td.table_warning_col_0,
table td.table_note_col_0{
	width:100%;
	_width:Auto;
	vertical-align:Top;
}
*:first-child+html tbody.table_important td.table_important_col_0,
*:first-child+html tbody.table_caution td.table_caution_col_0,
*:first-child+html tbody.table_warning td.table_warning_col_0,
*:first-child+html tbody.table_note td.table_note_col_0{
	width:Auto;
}
tbody.table_important td.table_important_col_0,
tbody.table_caution td.table_caution_col_0,
tbody.table_warning td.table_warning_col_0,
tbody.table_note td.table_note_col_0{
	padding-left:10px;
	width:100%;
	_width:Auto;
}
@media print{
thead.table_important td.table_important,
thead.table_caution td.table_caution,
thead.table_warning td.table_warning,
thead.table_note td.table_note{
	padding-bottom:5px;
}}
tbody.table_important td.table_important,
tbody.table_caution td.table_caution,
tbody.table_warning td.table_warning,
tbody.table_note td.table_note{
	padding-left:10px;
	padding-top:2px;
	border-bottom:None;
	padding-bottom:5px;
	border-top:None;
}
thead.table_important td.table_important_col_0,
thead.table_note td.table_note_col_0{
	padding:2px 5px 2px 30px;
	text-align:Left;
	border-bottom:None;
}
thead.table_caution td.table_caution_col_0,
thead.table_warning td.table_warning_col_0{
	padding:2px 23px 5px 5px;
	text-align:Center;
	border-bottom:Solid 1px #808080;
}
thead.table_caution td.table_caution_col_0 div img,
thead.table_warning td.table_warning_col_0 div img{
	margin-right:3px;
}
thead.table_important td.table_important div,
thead.table_caution td.table_caution div,
thead.table_warning td.table_warning div,
thead.table_note td.table_note div{
	font-weight:Bold;
}
table.table_important{
	border:Solid 1px #808080;
}
table.table_caution,
table.table_warning{
	border:Solid 1px #808080;
}
table.table_note{
	border:Solid 1px #808080;
}
thead.table_important td.table_important{
	background:Transparent Url("style_important.gif") No-Repeat 6px 2px;
	_background:Transparent Url("style_important_ie.gif") Repeat 6px 3px;
}
thead.table_caution td.table_caution div,
thead.table_warning td.table_warning div{
	font-size:120%;
}

thead.table_note td.table_note{
	background:Transparent Url("style_note.gif") No-Repeat 6px 2px;
	_background:Transparent Url("style_note_ie.gif") Repeat 6px 3px;
}
thead.table_important td.table_important div{
	color:#4682B4;
}
thead.table_caution td.table_caution div,
thead.table_warning td.table_warning div{
	color:#000000;
}
thead.table_note td.table_note div{
	color:#808080;
}
thead.table_important td.table_important_col_0,
tbody.table_important td.table_important_col_0{
	border-right:Solid 1px #808080;
}
thead.table_caution td.table_caution_col_0,
tbody.table_caution td.table_caution_col_0,
thead.table_warning td.table_warning_col_0,
tbody.table_warning td.table_warning_col_0{
	border-right:Solid 1px #808080;
}
thead.table_note td.table_note_col_0,
tbody.table_note td.table_note_col_0{
	border-right:Solid 1px #808080;
}
/*-----------------------------------------------------------------------------------------------*/
div.table_no_border{
	margin:10px 10px 10px 30px;	
}
table div.table_no_border{
	margin-left:10px;
}
table.table_no_border{
	border:None;
	width:Auto;
}
thead.table_no_border td.table_no_border{
	padding:0px 5px 0px 0px;
	border:None;
	font-size:100%;
	text-align:Left;
	font-weight:Bold;
	vertical-align:Middle;
}
tbody.table_no_border td.table_no_border{
	padding:0px 5px 0px 0px;
	vertical-align:Top;
	border:None;
	font-size:100%;
	padding-bottom:5px;
}
tbody.table_no_border td.table_no_border div{
	margin-top:0px;
	margin-bottom:0px;
}
/*-----------------------------------------------------------------------------------------------*/
div.table_matrix{
	margin:10px 10px 10px 30px;
}
table div.table_matrix{
	margin-left:20px;
}
table.table_matrix{
	border-collapse:Collapse;
	border:Solid 1px #808080;
}
thead.table_matrix td.table_matrix{
	padding:5px;
	background-color:#DDDDDD;
	border:Solid 1px #808080;
	font-size:100%;
	text-align:Center;
	font-weight:Normal;
	vertical-align:Middle;
}
tbody.table_matrix td.table_matrix_col_0{
	padding:5px 0px;
	padding-left:5px;
	width:120px;
	vertical-align:Middle;
	background-color:#EFEFEF;
	border:Solid 1px #808080;
	font-size:100%;
	font-weight:Normal;
}
tbody.table_matrix td.table_matrix{
	padding:3px 10px;
	vertical-align:Middle;
	border:Solid 1px #808080;
	font-size:100%;
}
thead.table_matrix td.table_matrix_col_1{
	background-color:#DDDDDD;
	border:Solid 1px #808080;
	padding:5px;
}
tbody.table_matrix td.table_matrix_col_1{
	vertical-align:Middle;
	border:Solid 1px #808080;
}
thead.table_matrix td.table_matrix_col_0{
	border:Solid 1px #808080;
	background-color:#DDDDDD;
	padding:5px;
}
thead.table_matrix td.table_matrix div{
	color:#000000;
}
/*-----------------------------------------------------------------------------------------------*/
div.table_general{
	margin:10px 10px 10px 30px;
}
table div.table_general{
	margin-left:20px;
}
table.table_general{
	border-collapse:Collapse;
	border:Solid 1px #808080;
}
thead.table_general td.table_general{
	padding:5px;
	border:Solid 1px #808080;
	font-size:100%;
	text-align:Center;
	font-weight:Normal;
	vertical-align:Middle;
}
tbody.table_general td.table_general_col_0{
	padding:5px 0px;
	padding-left:5px;
	width:120px;
	vertical-align:Middle;
	border:Solid 1px #808080;
	font-size:100%;
	font-weight:Normal;
}
tbody.table_general td.table_general{
	padding:3px 10px;
	vertical-align:Middle;
	border:Solid 1px #808080;
	font-size:100%;
}
thead.table_general td.table_general_col_1{
	border:Solid 1px #808080;
	padding:5px;
}
tbody.table_general td.table_general_col_1{
	vertical-align:Middle;
	border:Solid 1px #808080;
}
thead.table_general td.table_general_col_0{
	border:Solid 1px #808080;
	padding:5px;
}
thead.table_general td.table_general div{
	color:#000000;
}
/*-----------------------------------------------------------------------------------------------*/
div.table_number{
	margin:10px 10px 10px 35px;	
}
table div.table_number{
	margin-left:25px;
}
table.table_number{
	border-collapse:Collapse;
	border:None;
	width:Auto;
}
tbody.table_number td.table_number{
	padding:0px 5px 0px 0px;
	border:None;
	font-size:100%;
	text-align:Left;
	vertical-align:Top;
}
tbody.table_number td.table_number_col_0{
	width:1.5em;
	border:None;
}
tbody.table_number td.table_number_col_0 div{
	margin-left:0px;
	margin-right:0px;
	font-weight:Normal;
	text-align:Right;
}
tbody.table_number td.table_number_col_1{
	width:Auto;
}
/*-----------------------------------------------------------------------------------------------*/
span.bold{
	font-weight:Bold;
}
span.italic{
	font-style:Italic;
}
span.no_break{
	white-space:Nowrap;
}
span.superscript{
	vertical-align:Super;
	font-size:80%;
}
span.subscript{
	vertical-align:Sub;
	font-size:80%;
}
span.underline{
	text-decoration:Underline;
}
span.color_white{
	color:#FFFFFF;
}
span.color_blue{
	color:#0000FF;
}
span.color_red{
	color:#FF0000;
}
span.color_orange{
	color:#FFA500;
}
span.color_green{
	color:#008000;
}
span.bold\+color_red{
	color:#FF0000;
	font-weight:Bold;
}
span.bold\+italic{
	font-style:Italic;
	font-weight:Bold;
}
span.bold\+superscript{
	vertical-align:Super;
	font-size:80%;
	font-weight:Bold;
}
span.bold\+underline{
	text-decoration:Underline;
	font-weight:Bold;
}
span.italic\+superscript{
	vertical-align:Super;
	font-size:80%;
	font-style:Italic;
}
span.yenmark{
	/*font-family:"MS PGothic","Osaka","Arial","Helvetica",Sans-serif;*/
}
span.yenmark\+italic{
	/*font-family:"MS PGothic","Osaka","Arial","Helvetica",Sans-serif;*/
	font-style:Italic;
}
span.bold\+color_orange{
	color:#FFA500;
	font-weight:Bold;
}
span.bold\+superscript\+color_red{
	color:#FF0000;
	vertical-align:Super;
	font-size:80%;
	font-weight:Bold;
}
span.bold\+superscript\+color_orange{
	color:#FFA500;
	vertical-align:Super;
	font-size:80%;
	font-weight:Bold;
}
span.bold\+no_break{
	white-space:Nowrap;
	font-weight:Bold;
}
span.bold\+no_break\+superscript{
	white-space:Nowrap;
	font-weight:Bold;
	vertical-align:Super;
	font-size:80%;
}
span.no_break\+superscript{
	white-space:Nowrap;
	vertical-align:Super;
	font-size:80%;
}
span.superscript\+color_red{
	color:#FF0000;
	vertical-align:Super;
	font-size:80%;
}
span.superscript\+color_orange{
	color:#FFA500;
	vertical-align:Super;
	font-size:80%;
}
span.ui_text{
}
span.ui_bold{
	font-weight:Bold;
}

/*-----------------------------------------------------------------------------------------------*/
div#id_breadcrumbs{
	font-size:70%;
	position:Absolute;
	left:5px;
	top:10px;
	z-index:1;
	cursor:Default;
	display:None;
}
div#id_breadcrumbs a{
	margin:0px 5px;
}
div#id_breadcrumbs a:link{
	color:#0000FF;
}
div#id_breadcrumbs a:visited{
	color:#0000FF;
}
span.style_name{
	font:Normal 8pt "Tahoma";
	color:#FF0000;
	margin:0px 5px;
}
div.open_close_all{
	font-size:80%;
	margin:5px 10px 5px 30px;
	color:#3366A5;
	text-align:Right;
}
div.open_close_next_sibling{
	font-size:80%;
	margin:5px 10px 5px 30px;
	color:#3366A5;
	text-align:Right;
}
div#id_content div.open_close_all a:hover,
div#id_content div.open_close_next_sibling a:hover{
	text-decoration:None;
}
a.open_all:hover,
a.close_all:hover,
a.open_next_sibling:hover,
a.close_next_sibling:hover{
	border-bottom:Solid 1px #3366A5;
}
a.open_all,
a.close_all,
a.open_next_sibling,
a.close_next_sibling{
	border-bottom:Dotted 1px #3366A5;
	padding-right:15px;
}
a.open_all{
	background:Url("style_open.gif") No-Repeat Right Top;
	margin-right:5px;
}
a.open_next_sibling{
	background:Url("style_open.gif") No-Repeat Right Top;
}
a.close_all,
a.close_next_sibling{
	background:Url("style_close.gif") No-Repeat Right Top;
}
div.invisible_begin{
	background:Url("style_invisible_begin.gif") No-Repeat 7px 0px;
	color:#FFFFFF;
	font-size:80%;
	text-align:Right;
}
div.invisible_end{
	background:Url("style_invisible_end.gif") No-Repeat 7px 0px;
	color:#FFFFFF;
	font-size:80%;
	text-align:Right;
}
div.invisible{
	display:None;
	border-right:Dotted 1px #808080;
	margin-right:10px;
}
@media print{
div.open_close_all{
	display:None;
}
div.open_close_next_sibling{
	display:None;
}
div.invisible{
	display:Block;
	border-right:None;
	margin-right:0px;
}}
div.hr{
	border-top:Solid 2px #808080;
	margin:25px 10px 0px 10px;
	font-size:0pt;
	color:#FFFFFF;
}
hr{
	color:#808080;
	background-color:#808080;
	margin:25px 10px 0px 10px;
	height:2px;
	border:0;
}
